body {
    background-image: url(bg.jpg);
    background-size: 110%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    color: #332721;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

p {
    font-size: 20px;
}

a {
    color: #332721; 
    text-decoration: none; 
    font-weight: normal; 
    font-size: 20px;
}

a:hover {
    color: #c14d16;
    text-decoration: underline; 
}

a:visited {
    color: #c14d16; 
}

a:active {
    color: #c14d16; 
    text-decoration: underline; 
}


h1 {
    width: 400px;
}

h3 {
    font-size: 25px;
}

.photo {
    height: 200px;
    border-radius: 30px;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(to bottom right, #916a47, #65452d);
    padding: 30px;
    color: #d9cfbf;
}

table {
    border: 2px solid 332721;
    width: 300px;
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #332721;
}
th {
    background-color: #916a47;
    color: #d9cfbf;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#d9cfbf, #cfa37b);
    width: 1000px;
    margin-left: 15%;
    margin-top: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.video {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
}

video {
    height: 250px;
    border-radius: 30px;
    border: 1px solid #332721;
}

.music {
    display: flex;
    gap: 70px;
    margin-top: 30px;
}

h3 {
    padding: 0;
    margin: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    border: #332721 1px ;
}

.gif {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mygif {
    width: 300px;
    border-radius: 30px;
}

img {
    border: 1px solid #332721;
}

img:hover {
    -webkit-box-shadow: 15px 12px 23px -1px rgba(51, 39, 33, 0.74);
    -moz-box-shadow: 15px 12px 23px -1px rgba(51, 39, 33, 0.74);
    box-shadow: 15px 12px 23px -1px rgba(51, 39, 33, 0.74);
    transition: 0.3s;
}
video:hover {
    -webkit-box-shadow: 15px 12px 23px -1px rgba(51, 39, 33, 0.74);
    -moz-box-shadow: 15px 12px 23px -1px rgba(51, 39, 33, 0.74);
    box-shadow: 15px 12px 23px -1px rgba(51, 39, 33, 0.74);
    transition: 0.3s;
}
.contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #916a47, #65452d);
    color: #d9cfbf;
}

.login {
    width: 600px;
    height: 400px;
    background-color: #d9cfbf;
    border: 1px solid #332721;
    color: #332721;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 30%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

input {
    height: 50px;
    width: 350px;
    border: 1px solid #332721;
    border-radius: 20px;
    color: #332721;
}

button {
    height: 50px;
    width: 100px;
    color: #d9cfbf;
    background-color: #65452d;
    border-radius: 20px;
    border: 1px solid #65452d;
}

.login-h1 {
    text-align: center;
    font-size: larger;
    font-size: 60px;
    margin: 10px;
}
.login-h1:hover {
    text-shadow:  2px 2px 5px #69290b;
    transition: 0.3s;
}
.tikva {
    position: absolute;
    width: 600px;
    right: 0;
    bottom: 0;
    border: none;
}
.tikva:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.listya {
    position: absolute;
    width: 900px;
    left: 0;
    top: 0;
    border: none;
}
.listya:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}